# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview


My team and I Played Dying Light on our selective device of choice. Each of us played and recorded any issue/bug we've encountered. From my playthrough, most bugs/issues I've encountered were outright silly and hardly were game-breaking quite possibly because most of the time I switched to low settings to see if anything is different or not. Please do note that I tested mine on a DELL G3 17 laptop meaning performance can be drastically different from other PCs. When playing co-op with a friend we somehow found more bugs unintentionally but were fun to witness ie seeing the AI pathfinding go full retard or shenanigans such as seeing zombies floating on objects before falling etc. Besides the ever so frustating ERROR i've encountered. My other team members have found and recorded their issues as well. No doubt they've seen some of the same silliness as well along with encountering possible bugs/issues that may irritate them.

#### Number of Test performed

With my tests on PC i've tried everything about 4 times to see if it would persist to see if it would always occur i would re-load my game. One problem re-occuring is exiting the game and then rapidly trying to open the game only to be given an error saying how the game is already running. My team members are playing on consoles so they may get different ploblems/bugs than the ones i've encountered. 
#### Number of Defects

For the PC version again being run on a DELL G3 17 i have encountered several issues. One of them is being sound issues, there was an instance where a vehicle blew up but there would be no sound, only a few seconds later the sound would be present. Originally i ran my game on low settings and to my surprise i encountered more problems on the HIGHEST settings as my game would lag therefor the sounds, actions being done and events happening would be slowed to a crawl but only temporarily. 

#### Requirements Status

Yes, so when i ran my tests they came out to be as expected especially as mentioned about running the game on the HIGHEST settings would result in the game lagging behind a bit. But overall all the tests i've done so far were as expected. Except for the GAME ERROR mess. That woud only occur if i would make haste and re-open the game seconds after closing the game and returning to my Desktop. Sometimes my computer would freeze and force me to restart if i kept doing this.
* According to your test plan requirements did your test case runs meet your listed requirements.

### Test Environment

(Paragraphs)

#### Hardware Configuration

Originally i ran the game on low settings and would swtich it to HIGH settings time to time to see if anything major would occur. 

### Recommendation

(One of the biggest recommendations was the addition of more weapons and such but over the course of the past years and even now the game has been getting update after update adding new surprises such as new weapons and outfits. This is further suppourted with mods from the Steam Workshop.) In the beggining of the game without surgarcoating anything: You're going to suck, and it seems unfair for player but as with every game you got to suck in order to get good. Was oringally recommending a difficult tweak near the beggining of the game but that suggestion was scrapped as you have to learn to adapt if you want to survive, keep at it and you'll be a God eventually with the skills you've invested.  
* Very technical summary of the results and where things can be improved or what course of action the game should take as a result of the testing.


## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
| | | | | |

## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

| Defect ID | Description | Severity | Associated Test ID or Requirement |
|---|---|---|---|
| Timing Defect| On my DELL G3 17 Laptop and playing the game on the Highest settings I've encountered several times where the audio wouldn't register correctly ie a car exploding yet there's no sound for it only seconds later would it register and play the sound, When the Volatiles would scream upon seeing you i would hear nothing until they are straight in my face. | It's severe to a point where i have to lower my settings to the lowest in order to get everything working or i'd have to reload my game.| |
