# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview


So me and my team Played Dying Light on our selective device of choice. Each of us played and recorded any issue/bug we've encountered. From my playthrough most bugs/issues i've encountered were outright silly and hardly were game breaking quite possibly because most of the time i switched to low settings to see if anything is different or not. Please do note that I tested mine on a DELL G3 17 laptop meaning performance can be drastically different from other PCs. When playing co-op with a friend we somehow found more bugs unintentially but nevertheless were funny to witness ie seeing the AI pathfinding go full retard, or shenanigans such as seeing zombies floating on objects before falling down etc. My other team members as well have found and recorded their issues as well. No doubt they've seen some of the same silliness as well along with encountering possible bugs/issues that may irritate them.  

#### Number of Test performed

With my tests on PC i've tried everything about 4 times to see if it would persist. One problem re-occuring is exiting the game and then rapidly trying to open the game only to be given an error saying how the game is running please wait. Another one i couldn't help but laugh throughout was playing in co-op and witnessing my partner dissapear during a cutscene only to reappear again.

#### Number of Defects

(Paragraph)

#### Requirements Status

(Paragraph)
* According to your test plan requirements did your test case runs meet your listed requirements.

### Test Environment

(Paragraphs)

#### Hardware Configuration

Originally i ran the game on low settings and would swtich it to HIGH settings time to time to see if anything else would occur. 

### Recommendation

(Paragraphs)
* Very technical summary of the results and where things can be improved or what course of action the game should take as a result of the testing.


## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
| | | | | |

## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

| Defect ID | Description | Severity | Associated Test ID or Requirement |
|---|---|---|---|
| | | | |
